services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: supersecret
      MYSQL_DATABASE: ece140a-lab4
    ports:
      - '3306:3306'
    volumes:
      - ./data:/var/lib/mysql

  web:
    build: .
    ports:
      - '8000:8000'
    depends_on:
      - db
    environment:
      - DATABASE_URL=mysql://root:supersecret@db:3306/ece140a-lab4
